cfg/L3_GIPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WATER">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NO_DATA">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DN_Scale">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedShort">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="4095"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Time">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Min_Time">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Priority">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MOST_RECENT"/>
				<xs:enumeration value="TEMP_HOMOGENEITY"/>
				<xs:enumeration value="RADIOMETRIC_QUALITY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SNOW_ICE">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Algorithm">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ONE_PASS"/>
				<xs:enumeration value="TWO_PASS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BARE_SOILS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VEGETATION">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DS_Scheme_3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="THIN_CIRRUS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Log_Level">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NOTSET"/>
				<xs:enumeration value="DEBUG"/>
				<xs:enumeration value="INFO"/>
				<xs:enumeration value="WARNING"/>
				<xs:enumeration value="ERROR"/>
				<xs:enumeration value="CRITICAL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UP_Scheme_3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="URBAN_AREAS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DS_Scheme_1C">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DS_Scheme_2A">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GIPP_Scheme">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L3_Synthesis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Min_Time"/>
				<xs:element ref="Max_Time"/>
				<xs:element ref="Priority"/>
				<xs:element ref="Algorithm"/>
				<xs:element ref="Cirrus_Removal"/>
				<xs:element ref="Shadow_Removal"/>
				<xs:element ref="Snow_Removal"/>
				<xs:element ref="Max_Tiles_Processed"/>				
				<xs:element ref="Max_Cloud_Probability"/>
				<xs:element ref="Max_Invalid_Pixels_Percentage"/>
				<xs:element ref="Max_Aerosol_Optical_Thickness"/>
				<xs:element ref="Max_Solar_Zenith_Angle"/>
				<xs:element ref="Max_Viewing_Angle"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Snow_Removal" type="xs:boolean"/>
	<xs:element name="UP_Scheme_1C">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UP_Scheme_2A">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CLOUD_SHADOWS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DARK_FEATURES">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tile_Scheme_3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cirrus_Removal" type="xs:boolean"/>
	<xs:element name="Classificators">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NO_DATA"/>
				<xs:element ref="SATURATED_DEFECTIVE"/>
				<xs:element ref="DARK_FEATURES"/>
				<xs:element ref="CLOUD_SHADOWS"/>
				<xs:element ref="VEGETATION"/>
				<xs:element ref="BARE_SOILS"/>
				<xs:element ref="WATER"/>
				<xs:element ref="LOW_PROBA_CLOUDS"/>
				<xs:element ref="MEDIUM_PROBA_CLOUDS"/>
				<xs:element ref="HIGH_PROBA_CLOUDS"/>
				<xs:element ref="THIN_CIRRUS"/>
				<xs:element ref="SNOW_ICE"/>
				<xs:element ref="URBAN_AREAS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Common_Section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Log_Level"/>
				<xs:element ref="DN_Scale"/>
				<xs:element ref="UP_Scheme_1C"/>
				<xs:element ref="UP_Scheme_2A"/>
				<xs:element ref="UP_Scheme_3"/>
				<xs:element ref="Tile_Scheme_1C"/>
				<xs:element ref="Tile_Scheme_2A"/>
				<xs:element ref="Tile_Scheme_3"/>
				<xs:element ref="DS_Scheme_1C"/>
				<xs:element ref="DS_Scheme_2A"/>
				<xs:element ref="DS_Scheme_3"/>
				<xs:element ref="GIPP_Scheme"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shadow_Removal" type="xs:boolean"/>
	<xs:element name="Tile_Scheme_1C">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tile_Scheme_2A">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LOW_PROBA_CLOUDS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HIGH_PROBA_CLOUDS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Viewing_Angle">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MEDIUM_PROBA_CLOUDS">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SATURATED_DEFECTIVE">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Tiles_Processed">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Cloud_Probability">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Solar_Zenith_Angle">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Aerosol_Optical_Thickness">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max_Invalid_Pixels_Percentage">
		<xs:simpleType>
			<xs:restriction base="xs:unsignedByte">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Level-03_Ground_Image_Processing_Parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Common_Section"/>
				<xs:element ref="L3_Synthesis"/>
				<xs:element ref="Classificators"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
